body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}

/* .............top part css st....... */
h1{
    font-size: 50px;
    
}

p{
    font-size: 16px;
    color: gray;
    
}
.name-hightlight{
    color: rgb(175, 133, 53);
}

h3{
    text-transform: capitalize;
}

.half-width{
    width: 40%;
    float:left ;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 110%;
}

section{
    height: 500px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
   
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon,tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
/* ............top-part end.......... */
h2{
    font-size: 40px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 7px;
    height: 80%;
    background-color: white;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(150deg, lightsalmon,tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(150deg, rgb(112, 244, 253),rgb(10, 107, 252));
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}